In [35]:
import pandas as pd
import re

In [37]:
# Membaca data dan melewati baris yang rusak
df = pd.read_csv('data_group.csv', encoding='latin1', on_bad_lines='skip')

In [39]:
df.head()

                                                                                                                    text
29/02/24 21.46 - Pesan dan panggilan dienkripsi...  termasuk WhatsApp   yang dapat membaca atau mendengarkannya. Ketu...
25/10/22 07.41 - Û?Yudha Infor membuat grup "S... NaN                                                               NaN
29/02/24 21.46 - Û?Aldino menambahkan Anda        NaN                                                               NaN
29/02/24 21.46 - Angsati0212: Kontol?Ù÷¥           NaN                                                               NaN
29/02/24 21.46 - Aldino: opo cok                   NaN                                                               NaN

In [41]:
# Hapus baris yang kosong
df = df.dropna(subset=['text'])  # Ganti 'text_column' dengan nama kolom teks Anda

In [47]:
# Fungsi untuk membersihkan teks
def clean_text(text):
    # Hanya menyisakan huruf, angka, dan tanda baca
    return re.sub(r'[^a-zA-Z0-9.,!? ]+', '', text)

# Terapkan fungsi ke kolom teks
df['cleaned_text'] = df['text'].apply(clean_text)

# Tampilkan data yang sudah dibersihkan
df.head()

,,text,cleaned_text
29/02/24 21.46 - Pesan dan panggilan dienkripsi secara end-to-end. Tidak seorang pun di luar chat ini,termasuk WhatsApp,yang dapat membaca atau mendengarkannya. Ketu...,yang dapat membaca atau mendengarkannya. Ketu...
01/03/24 17.38 - Aldino: dd = {'nama' : 'joko','umur':21,'asal' : 'surakarta'},asal surakarta
print(kunci,'<--------',dd[kunci]),ddkunci
01/03/24 17.47 - Aldino: def selesaikanABC(a,b,c):,c
k=selesaikanABC(a,b,c) # se,c se

In [49]:
# Simpan ke file CSV baru
df.to_csv('cleaned_data_group.csv', index=False)

print("Pembersihan selesai. Data disimpan di 'cleaned_data_group.csv'")

Pembersihan selesai. Data disimpan di 'cleaned_data_group.csv'